@{
    ViewBag.Title = "About";


}
<div class="container media">
    <div class="card mx-auto mt-3 col-md-12">
        <div class="card-header bg-black"><h2>@ViewBag.Title.</h2></div>
        <div class="card-body ">
            <h3>@ViewBag.Message</h3>
            <div class="jumbotron">
                <h3><p>Utilice esta área para proporcionar información adicional.</p></h3>
            </div>
        </div>
    </div>
</div>