@{
    ViewBag.Title = "Contact";
}

<div class="container media">
    <div class="card mx-auto mt-3 col-md-12">
        <div class="card-header bg-black"><h2>@ViewBag.Title.</h2></div>
        <div class="card-body ">
            <h3>@ViewBag.Message</h3>
            <div class="jumbotron">
                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>
                <address>
                    <strong>Support:</strong>   <a href="mailto:Supportmaxipezcolombia@gmail.com">Supportmaxipezcolombia@gmail.com</a><br />
                    <strong>Marketing:</strong> <a href="maxipezcolombia@gmail.com">maxipezcolombia@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
